@import "tailwindcss";

:root {
  --primary: #b3bdf3;
  --Primary-Text: #dfdff8;
  --secondary: #678df3;
  --accent: #ff8040;
  --Success: #16a34a;
  --error: #dc2626;
  --warning: #f59e0b;
  --Background: #f5f1dc;
  --Text: #111827;
}
